@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h1>Delete Machine</h1>
<hr />
<h3>@Model.Name, @Model.Function</h3>
<h4>Are You Sure You Want to Delete this Machine?</h4>
@using (Html.BeginForm())
{
    <input type="submit" value="Delete" class="btn btn-danger" />
}
<p>@Html.ActionLink("Back to Machine List", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>