@{
  Layout = "_Layout";
}

@using Factory.Models;
@model List<Factory.Models.Engineer>;
<div class="content">
  <h1>Engineers</h1>

  @if (@Model.Count == 0)
  {
    <h3>Engineers Have Not Yet Been Added!</h3>
  } 

  @foreach (Engineer engineer in Model)
  {
    <li>@Html.ActionLink($"{engineer.LastName}, {engineer.FirstName}", "Details", new { id = engineer.EngineerId })</li>
  }

  <p>@Html.ActionLink("Add new engineer", "Create")</p>

  <p>@Html.ActionLink("Home", "Index", "Home")</p>

</div>